In [1]:
# iloc() STANDS FOR INTEGER LOCATION FUNCTION .
# iloc() SYNTAX : pd.DataFrame.iloc [ row_index , column ] .

# FOR SELECTING A SINGLE ELEMENT . SYNTAX IS : val = pd.DataFrame.iloc [ row , column ] .

# FOR SELECTING A SPECIFIC ROW . SYNTAX IS : val = pd.DataFrame.iloc [ row_index ] .

# FOR SELECTING A MULTIPLE ROW . SYNTAX IS : val = pd.DataFrame.iloc [ start_row : end_row ] .

'''
FOR SELECTING A SPECIFIC ROW AND SPECIFIC COLUMN .
SYNTAX IS : val = pd.DataFrame.iloc [ [row1,row2] , [column1,column2] ] .
'''

# FOR SELECTING ALL ROWS FOR SPECIFIC COLUMN . SYNTAX IS : val = pd.DataFrame.iloc [ : , [column1,column2] ] .

# CREATE A DATA FRAME .

import pandas as pd
country_info = { "COUNTRY": [ "POLAND" , "GREECE" , "DENMARK" , "SWEDEN" , "RUSSIA" , "IRELAND" ]  , 
                "CAPITAL": [ "WARSAW" , "ATHENS" , "COPENHAGEN" , "STOCKHOLM" , "MOSCOW" , "DUBLIN" ] , 
                "LANGUAGE": [ "POLISH" , "GREEK" , "DANISH" , "SWEDISH" , "RUSSIAN" , "IRISH" ] , 
                "AVG_AGE": [84,92,76,80,96,88] }
df = pd.DataFrame(country_info)
print(df)

   COUNTRY     CAPITAL LANGUAGE  AVG_AGE
0   POLAND      WARSAW   POLISH       84
1   GREECE      ATHENS    GREEK       92
2  DENMARK  COPENHAGEN   DANISH       76
3   SWEDEN   STOCKHOLM  SWEDISH       80
4   RUSSIA      MOSCOW  RUSSIAN       96
5  IRELAND      DUBLIN    IRISH       88

In [2]:
# SELECT ONLY RUSSIAN .

import pandas as pd
a = df.iloc[4,2]
print(a)

RUSSIAN

In [3]:
# SELECT ROW FROM 2 TO 4 AND COLUMN FROM 0 TO 1 ONLY .

import pandas as pd
b = df.iloc [ 2:5 , 0:2 ]
print(b)

   COUNTRY     CAPITAL
2  DENMARK  COPENHAGEN
3   SWEDEN   STOCKHOLM
4   RUSSIA      MOSCOW

In [4]:
# SELECT ROW FROM 2 TO 4 ONLY .

import pandas as pd
c = df.iloc [ 2:5 ]
print(c)

   COUNTRY     CAPITAL LANGUAGE  AVG_AGE
2  DENMARK  COPENHAGEN   DANISH       76
3   SWEDEN   STOCKHOLM  SWEDISH       80
4   RUSSIA      MOSCOW  RUSSIAN       96

In [5]:
# SELECT COLUMN CAPITAL AND LANGUAGE ONLY .

import pandas as pd
d = df.iloc [ : , 1:3 ]
print(d)

      CAPITAL LANGUAGE
0      WARSAW   POLISH
1      ATHENS    GREEK
2  COPENHAGEN   DANISH
3   STOCKHOLM  SWEDISH
4      MOSCOW  RUSSIAN
5      DUBLIN    IRISH

In [6]:
# SELECT ENTIRE ROW WITH INDEX 3 .

import pandas as pd
e = df.iloc[3]
print(e)

COUNTRY        SWEDEN
CAPITAL     STOCKHOLM
LANGUAGE      SWEDISH
AVG_AGE            80
Name: 3, dtype: object