In [1]:
# SERIES : IT IS LIKE A COLUMN IN A TABLE . IT IS A ONE DIMENSIONAL ARRAY WHICH DATA OF ANY TYPE .
# Series() IS USED TO CREATE PANDAS SERIES .
# CREATE A SIMPLE PANDAS SERIES .

import pandas as pd
a = [ "ONE" , "TWO" , "THREE" , "FOUR" , "FIVE" , "SIX" , "SEVEN" , "EIGHT" , "NINE" , "TEN" ]
xyz =pd.Series(a)
print(xyz)

0      ONE
1      TWO
2    THREE
3     FOUR
4     FIVE
5      SIX
6    SEVEN
7    EIGHT
8     NINE
9      TEN
dtype: object

In [2]:
# A LABEL CAN BE USED TO ACCESS A SPECIFIC VALUE .

import pandas as pd
a = [ "ONE" , "TWO" , "THREE" , "FOUR" , "FIVE" , "SIX" , "SEVEN" , "EIGHT" , "NINE" , "TEN" ]
xyz = pd.Series(a)
print(xyz[4])

FIVE

In [3]:
# CREATE A PANDAS SERIES WITH OUR OWN NAME LABELS .

import pandas as pd
b = [11,12,13,14,15,16]
xyz = pd.Series ( b , index= [ "AA" , "BB" , "CC" , "DD" , "EE" , "FF" ] )
print(xyz)

AA    11
BB    12
CC    13
DD    14
EE    15
FF    16
dtype: int64

In [4]:
# ACCESS A PANDAS SERIES WITH OWN LABEL NAME .

import pandas as pd
b = [11,12,13,14,15,16]
xyz =  pd.Series( b , index= [ "AA" , "BB" , "CC" , "DD" , "EE" , "FF" ] )
print(xyz["DD"])

14

In [5]:
# WHILE CREATING A SERIES WE CAN ALSO USE KEY OR VALUE OBJECT LIKE DICTIONARY .
# CREATE A PANDAS SERIES FROM A DICTIONARY .

import pandas as pd
c = { "MONDAY":84 , "TUESDAY":92 , "WEDNESDAY":80 , "THURSDAY":76 , "FRIDAY":96 , "SATURDAT":72 , "SUNDAY":88 }
xyz = pd.Series(c)
print(xyz)

MONDAY       84
TUESDAY      92
WEDNESDAY    80
THURSDAY     76
FRIDAY       96
SATURDAT     72
SUNDAY       88
dtype: int64

In [6]:
# CREATE A PANDAS SERIES WITH DATA FROM TUESDAY , WEDNESDAY , THURSDAY ONLY .

import pandas as pd
c = { "MONDAY":84 , "TUESDAY":92 , "WEDNESDAY":80 , "THURSDAY":76 , "FRIDAY":96 , "SATURDAT":72 , "SUNDAY":88 }
xyz = pd.Series ( c , index= [ "TUESDAY" , "WEDNESDAY" , "THURSDAY" ] )
print(xyz)

TUESDAY      92
WEDNESDAY    80
THURSDAY     76
dtype: int64

In [7]:
# DATAFRAME : IT IS LIKE A WHOLE TABLE . IT IS USUALLY A DATA SET IN PANDAS WITH MULTI-DIMENSIONAL .
# DataFrame() IS USED TO CREATE PANDAS DATAFRAME .
# CREATE A DATAFRAME FROM 2 SERIES .

import pandas as pd
d = { "DAYS": [ "MONDAY" , "TUESDAY" , "WEDNESDAY" , "THURSDAY" , "FRIDAY" , "SATURDAT" , "SUNDAY" ]  ,
     "DURATION": [ 84 , 92 , 80 , 76 , 96 , 72 , 88 ] }
xyz = pd.DataFrame(d)
print(xyz)

        DAYS  DURATION
0     MONDAY        84
1    TUESDAY        92
2  WEDNESDAY        80
3   THURSDAY        76
4     FRIDAY        96
5   SATURDAT        72
6     SUNDAY        88